@if (Errors is { Count: > 0 })
{
    <MudAlert Severity="Severity.Error" Variant="Variant.Outlined" Class="my-4">
        <ul class="mb-0 pl-4">
            @foreach (var error in Errors)
            {
                <li>@error</li>
            }
        </ul>
    </MudAlert>
}

@code {
    [Parameter] public IReadOnlyList<string>? Errors { get; set; }
}
